.btn{
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    transition: box-shadow .3s ease-in-out;

    &:hover{
        @include box-shadow(0px 10px 25px 0px rgba(0, 0, 0, 0.199));
    }

    &_close{
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 10px;
        &:hover{
            box-shadow: none;
        }
        .bar1, 
        .bar2 {
          width: 27px;
          height: 3px;
          background-color: $primary-color;
          margin: 6px 0;
          transition: 0.4s;
        }
        .bar1 {
            transform: rotate(-45deg) translate(0px, 0px);
          }
        .bar2 {
            transform: rotate(45deg) translate(-6px, -6px);
        }
    }
    
    &__load_more{
        width: 150px;
        margin: 20px;
        align-self: center;
        background-color: $secondary-color;
    }

    &__adopt{
        width: 100%;
        text-align: center;
        background-color: $primary-color;
    }

    &__carousel{
        position: absolute;
        bottom: 15px;
        z-index: 999;
        border-radius: 50%;
        background-color: $primary-color;
        width: 50px;
        height: 50px;
        color: white;
        font-size: 20px;

        @include tablet-width{
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__next_slide{
        right: 20px;
    }

    &__prev_slide{
        left: 20px;
    }
}

.chevron{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:before {
        content: '';
        position: relative;
        display: inline-block;
        border-style: solid;
        border-width: 4px 4px 0 0;
        height: 12px;
        width: 12px;
    }

    &_right:before {
        left: -2px;
        transform: rotate(45deg);
    }

    &_left:before {
        left: 4px;
        transform: rotate(-135deg);
    }
}

.menu_btn {
    display: block;
    align-self: center;
    cursor: pointer;
    z-index: 9999;
    margin: 10px 20px;
  }
  
  .bar1, 
  .bar2, 
  .bar3 {
    width: 27px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    .change &{
        background-color: white;
      }
  }
  
  .change {
    .bar1 {
        transform: rotate(-45deg) translate(-9px, 9px);
      }
    .bar2 {
        opacity: 0;
    }
    .bar3 {
        transform: rotate(45deg) translate(-4px, -4px);
    }
}