.section__list{
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;

        @include tablet-width{
            padding: 20px;
        }
    
        @include desktop-width{
            flex-direction: row;
        }
    }
}