// Main site colors
$background-color: #FFFFFF; 
$primary-color:#29728A; 
$secondary-color:#2CCBFF;
$grey-color:  #e1e1e1;

// Typography
$font-color:#3d3d3d; 
$heading-color: #222222;
$link-color:#2CCBFF; 

// Media query variables
$tablet-width: 768px;
$desktop-width: 920px;
$desktop-width-large: 1920px;


